body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.textLeft {
  text-align: left;
  margin-left: 20px;
}

.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}

.image {
  min-width: 35%;
  margin-right: 20px;
}

.stats {
  background: #f2f5f8;
  color: #000 !important; 
}

.show-id {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 600;
}

.type {
  font-size: 10px;
  color: #a1aab9;
}

.number2 {
  font-weight: 600;
}

